body{
	font-family: Arial, Helvetica, sans-serif;
}
.heading{
	display: flex;
	gap: 20px;
padding-left: 20px;
	float: right;
}
.heading img{
width:30px;
height: 30px;
}
.ins a img:hover ,.wat a img:hover ,.x a img:hover{
	color: black;
	background-color:white;
	padding: 10px;
	padding-bottom: 20px;

}
.container{
	padding-top: 50px;
}

.small_container h1{
	text-align: left;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size:30px;
	margin-LEFT:30px;
}


h1{
	color: white;
	font-size: 50px;
	text-align: center;
}
.home,.playlist,.heart,.user{
	padding-left: 30px;
	padding-right: 30px;
}
.free{
	
		overflow: hidden;
		background-color: #333;
		position: fixed;
		bottom: 0;
		width: 100%;
}
.free ul{
	list-style-type: none;
	background-color: white;
	padding: 0;
	margin:0;
	height:30%;
	width: auto;
	display: flex;
	justify-content: space-between;
}

	
	.home a:hover , .playlist a:hover , .heart a:hover , .user a:hover{	
		background-color: black;
		color: white;
		padding-left: 30px;
		padding-right: 30px;

}

.free li{
	float: left;
	border: none;
	background-color:white;
	


}

.free li a{
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }


.lastmenuchild{	
	float: right;
	border: 1px solid white;
	background: white;
	padding: 10px 10px;
	
}

.lastmenuchild a{
	text-decoration: none;
}	



.HomeHeadingDescrp{
	text-align: center;
}


 .a1 p,.a2 p,.a3 p,.a4 p{
	padding-left: 90px;
 }



.one ul{
	justify-content: center;
	list-style-type: none;
	margin-right: 4%;
	gap:20px;
	display:flex;	
}
.one li a{
	text-decoration: none;
}
.two ul{
         display:flex;
	justify-content: center;
	list-style-type: none;
	margin-right: 4%;
	gap:20px;
}
	
body{
	
	background-color:black;
	margin-top:30px;
}



.a1,.a2,.a3,.a4,.b1,.b2,.b3,.b4{
 padding-top: 50px;
	
	
}
.a1 img,.a2 img,.a3 img,.a4 img,.b1 img,.b2 img,.b3 img,.b4 img{
	border-radius: 30px;
}

.a1 img:hover,.a2 img:hover,.a3 img:hover,.a4 img:hover,.b1 img:hover,.b2 img:hover,.b3 img:hover,.b4 img:hover{
	transform: scale(1.2);
	border-radius: 30px;
}

@media screen and (max-width: 100px){

	li a{
		font-size: 10px;
	}
	
}